body {
    margin: 5%;
    font-family: 'Saira Condensed',
    sans-serif;
    
}

.header {
    background-color: #AFDAE4;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 20px;
    font-family: 'Saira Condensed',
    sans-serif;
}

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.daisy-container {
    
    display: flex;
    justify-content: center;
}

.daisy-box {
    border: 1px solid tan;
    padding: 20px;
    border-radius: 30px;

}

