body {
    margin: 5%;
    font-family: 'Saira Condensed',
    sans-serif;
    
}

.header {
    background-color: #AFDAE4;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 20px;
    font-family: 'Saira Condensed',
    sans-serif;
}

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
